.Total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.Form {
  width: 70%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 40px;
}

.Input {
  margin: 10px 0;
  height: 50px;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #334b6c;
}

.Button {
  background-color: #334b6c;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  cursor: pointer;
}

.Option {
  display: flex;
  align-items: center;
  padding-top: 50px;
  width: 350px;
  justify-content: center;
}

.Option span {
  padding: 0 20px;
  width: 100px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.VerticalLine {
  width: 3px;
  height: 20px;
  background-color: #334b6c;
}

.SocialForm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.Yellow {
  background-color: #fee501;
  color: black;
}

.Green {
  background-color: #02c75a;
  color: white;
}

.Blue {
  background-color: #39529a;
  color: white;
}
