.Menubar {
  display: flex;
  width: 100%;
  height: 6vh;
  min-height: 4rem;
  padding: 20px 40px;
  box-sizing: border-box;
}
.MenubarLeft {
  display: flex;
  width: 60%;
  justify-content: flex-start;
}

.MenubarRight {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid #334b6c;
  }
}

.MenubarSpan {
  padding: 0 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #23354d;
  span {
    color: #2f5383;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 15px;
  }
}

.MenubarLeft .MenubarSpan {
  font-size: 20px;
  font-weight: 600;
}

.MenubarRight .MenubarSpan {
  font-size: 17px;
  font-weight: 500;
}
.Logo {
  padding: 0 20px;
  font-size: 30px;
  font-weight: 600;
  color: #334b6c;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CircleIcon {
  font-size: 8px;
  cursor: none;
}
.Line {
  border: 1px solid #f4f4f4;
  margin: 0;
}

.Popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8vh;
  right: 150px;
  border: 2px solid #2f5383;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  width: 110px;
}

.SignPopup {
  right: 20px;
}

.Popup span {
  padding: 5px 0;
  color: #2f5383;
  font-weight: 500;
  cursor: pointer;
}

.Popup span:hover {
  color: #3b71b9;
  font-weight: 700;
}

.Popup hr {
  width: 90%;
  border: 1px solid #2f5383;
}

form {
  display: flex;
  flex-direction: column;
}
