html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 810px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-datepicker-wrapper {
  min-width: 8rem;
  height: 100%;
}
.react-datepicker__input-container {
  height: 100%;
  display: flex !important;
  align-items: center;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 0.8rem 5px 2.5rem !important;
  width: 9rem;
  color: black;
}

.react-datepicker__view-calendar-icon input:disabled {
  color: gray;
}

.react-datepicker__input-container input {
  height: 100% !important;
  box-sizing: border-box;
  font-size: 1rem;
}

.fa-star {
  color: #fee501;
}
